<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=figtree:400,500,600&amp;display=swap" rel="stylesheet">
<style>
      .nav-link {
          font-size: 20px;
      }
      .nav-link .active{
           font-size: 30px;
      }

    </style>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2 shadow-lg p-3 mb-5 bg-body-dark fixed-top" aria-label="Tenth navbar example">
    <div class="container">
         <a class="navbar-brand" href="/">Цифровой профиль</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center " id="navbarsExample08">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="/">Факультеты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://portfolio.tspu.edu.ru/main">Портфолио</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://eios.tspu.edu.ru/person/profile/">ЭИОС</a>
          </li>

           <li class="nav-item">
            <a class="nav-link" href="https://timetable.tspu.edu.ru/">Расписание</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.tspu.edu.ru/index.php">ТГПУ</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
<br>
<br>



   <main>
<br><br>


        <br><br>
                {% block content %}{% endblock %}

      </main>

</div>
    </body>
</html>