{% extends 'cogn/base.html' %}

{% block title %}
Когнитивный профиль
{% endblock %}

{% block content %}

         <div class="container">
             <div class="alert" role="alert" align="center">
                    <h3>Список студентов of {{ group.gruppa1 }}</h3>
            </div>

            <div class="list-group">
              <table class="table table-hover">
                <thead>
                    <tr>
                      <th scope="col">№</th>
                      <th scope="col">ФИО</th>

                    </tr>
                  </thead>
                  <tbody>
                  {% for student in students %}
                    <tr>
                        <th scope="row"><b>{{ forloop.counter }}</b></th>
                        <td><a href="{% url 'profile' student_id=student.student_id  %}" class="list-group-item list-group-item-action rounded-3 ">{{ student.fio }}</a></td>

                    </tr>
                    {% endfor %}
                  </tbody>
              </table>




        </div>
    </div>
    </div>
{% endblock %}

